*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
    font-family: 'Montserrat', sans-serif;	
    font-size: 16px;
	line-height: 24px;
    max-width: 100%;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
    height: 100%;
}

.icons_container {
    display: flex;
    justify-content: flex-end;
}

header { 
    padding-top: 50px;
    height: 110%;
    background: url('img/bg.png') no-repeat center;
    background-size: cover;
    margin-bottom: 100px;
}

.icons_container a{
    margin-right: 20px;
}

h1 {
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 62px;
    line-height: 1.1em;
    margin-top: 100px;
}

.header_info {
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2em;
    margin-top: 50px;
    width: 90%;
    margin: 50px auto;
}

.about__container {
    display: flex;
}

.about__item {
    width: 31%;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
}

.about__item_title {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.about__item img {
    width: 100%;
    margin-bottom: 20px;
}

.circle {
    background-color: #E85516;
    min-width: 30px;
    height: 30px;
    border-radius: 15px;
}

h3 {
    color: #000;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2em;
    text-align: center;
}

.about__item p {
    color: #000;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7em;
    margin-top: 30px;
}

.achievements {
    margin-top: 100px;
}

h2 {
    color: #000;
    font-weight: 600;
    font-size: 38px;
    line-height: 1.2em;
    text-align: center;
    margin-bottom: 50px;
}

.achievements_item {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    width: 70%;
    height: 130px;
    margin: 70px auto;
    padding-left: 50px;
}

.achievements_item img {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
}

.achievements_item h4 {
    color: #E85516;
    font-weight: 800;
    font-size: 24px;
    line-height: 1.2em;
    position: absolute;
    left: 50px;
    top: 0;
    transform: translate(0%, -50%);
}

.achievements_item p {
    color: #000;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2em;
}

.order {
    position: relative;
    margin-top: 100px;
    background: url('img/bg2.png') no-repeat center;
    background-size: cover;
    padding: 80px 0;
    z-index: -2;
}

.blur {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(1px); 
    width: 100%;
    height: 100%;
    z-index: -1;
}

.order h2 {
    color: #fff;
    font-weight: 600;
    font-size: 52px;
    line-height: 1.2em;
    text-align: center;
    margin-bottom: 70px;
}

form {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

input, select {
    width: 100%;
    outline: none;
    height: 50px;
    padding-left: 15px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 15px;
}

input:focus, textarea:focus {
    border: 3px solid #E85516;
}

.place_input {
    width: 49%;
}

textarea {
    width: 100%;
    max-width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
    max-height: 150px;
    height: 100px;
    outline: none;
}

.btn {
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2em;
    background-color: #E85516;
    padding: 15px 50px;
    border-radius: 50px;
    margin-top: 15px;
}

.btn:hover {
    cursor: pointer;
}

.partners h2 {
    margin-top: 100px;
    margin-bottom: 80px;
}

.partners_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.partners_item {
    width: 31%;
}

.partners_item img {
    width: 100%;
    max-height: 210px;
}

footer {
    background-color: #1C1C1C;
    height: 50vh;
    margin-top: 100px;
    padding: 80px 0;
}

.footer_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;

}

.footer_container span {
    color: #fff;
    font-weight: 400;
    font-size: 12px;
}

.footer_item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_item a {
    margin-right: 15px;
}

#buttonToTop {
  display: none; /* Прихована за замовчуванням */
  position: fixed; /* Фіксована позиція */
  bottom: 20px; /* Внизу сторінки */
  right: 30px; /* Розміщення на 30px від правої сторони */
  z-index: 99; /* Накладання на інші елементи */
  border: none; /* Без полів */
  color: white; /* Колір тексту */
  cursor: pointer; /* Зміна курсора коли наводимо */
  font-size: 18px; /* Збільшенння шрифту */
  width: 100px;
}

#clock {
	text-align: center;
	color: white;
}